body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(216, 56, 56);
}
.color-container{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-small {
  font-size: 0.9rem !important;
}

.header {
  background-color: #00d2ff;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
}
.section-1 {
  background: #f5f5f5;
}